

<body class="ec-header-fixed ec-sidebar-fixed ec-sidebar-dark ec-header-light" id="body">

	<!-- WRAPPER -->
	<div class="wrapper">

		<!-- LEFT MAIN SIDEBAR -->
		<%-include('../partials/adminsidenav' )%>
		<!-- PAGE WRAPPER -->
		<div class="ec-page-wrapper">

			<!-- Header -->
			<%-include('../partials/adminHeader' )%>

			<!-- CONTENT WRAPPER -->
			<div class="ec-content-wrapper">
				<div class="content">
					<div class="breadcrumb-wrapper breadcrumb-wrapper-2">
						<h1>Orders History</h1>
						<p class="breadcrumbs"><span><a href="/admin/home">Home</a></span>
							<span><i class="mdi mdi-chevron-right"></i></span>History
						</p>
					</div>
					<div class="row">
						<div class="col-12">
						  <div class="card card-default">
							<div class="card-body">
							  <div class="table-responsive">
								<table id="responsive-data-table" class="table" style="width:100%">
								  <thead>
									<tr>
									  <th>ID</th>
									  <th>Customer</th>
									  <th>Email</th>
									  <!-- <th>Items</th> -->
									  <th>Price</th>
									  <th>Payment</th>
									  <th>Status</th>
									  <th>Date</th>
									  <th>Action</th>
									</tr>
								  </thead>
					  
								  <tbody>
									<% if (orders.length === 0) { %>
									  <tr>
										<td colspan="8" class="text-center">No orders available</td>
									  </tr>
									<% } else { %>
									  <% orders.reverse().forEach((order, index) => { %>
										<tr>
										  <td><%= order.id %></td>
										  <td><%= order.customer %></td>
										  <td><%= order.email %></td>
										  <!-- <td><%= order.items %></td> -->
										  <td><%= order.amount %></td>
										  <td><%= order.payment_status %></td>
										  <td><%= order.order_status %></td>
										  <td><%= order.created_at %></td>
										  <td>
											<div class="btn-group mb-1">
											  <form action="/admin/order-details/<%= order.id %>">
												<button type="submit" class="btn btn-outline-success">Info</button>
											  </form>
											  <button type="button" class="btn btn-outline-success dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
												<span class="sr-only">Info</span>
											  </button>
											  <div class="dropdown-menu">
												<a class="dropdown-item" href="#">Detail</a>
												<a class="dropdown-item" href="#">Track</a>
												<a class="dropdown-item" href="#">Cancel</a>
											  </div>
											</div>
										  </td>
										</tr>
									  <% }); %>
									<% } %>
								  </tbody>
								</table>
							  </div>
							</div>
						  </div>
						</div>
					  </div>
					  
					
				</div> <!-- End Content -->
			</div> <!-- End Content Wrapper -->


			<!-- Footer -->
			<%-include('../partials/adminFooter' )%>

		</div> <!-- End Page Wrapper -->
	</div> <!-- End Wrapper -->



</body>

</html>